[submodule "user/.oh-my-zsh"]
	path = user/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh
[submodule "user/.vim/bundle/Vundle.vim"]
	path = user/.vim/bundle/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim.git
